/* configuração geral */ 
body{
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    background: rgba(255, 255, 255, 1);
    height: 760px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
}
.le,.ld{
    position: relative;
    height: 100%;
    width: 50%;
}
/* lado esquerdo */
.le img{
    height: 521.0145874023438px;
    width: 552.5130004882812px;
    margin-left: 87.49349975585938px;
    margin-top: 105px;
}
/*lado direito */
form{
    margin-top: 170px;
    margin-left: 90px;
}
form label{
    line-height: 60px;
}
.ld{
    font-size: 26px;
    font-weight: bold;
}
.inC{
    font-size: 27px;
    padding-left: 12px;
    box-sizing: border-box;
    position: absolute;
    width: 459px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.inCage{
    font-size: 27px;
    padding-left: 15px;
    box-sizing: border-box;
    position: absolute;
    width: 152px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/* botoes */
.btns{
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    text-decoration: none;
    background-color:#3EB25E;
    color:rgba(255, 255, 255, 1);
    width: 418px;
    height: 40px;
    border-radius: 35px;
    padding-top: 5px;
    margin-top: 0px;
    font-weight: bold;
    transition: .5s;
    border: none;
    cursor:pointer;
}
.btns:hover{
    background-color: rgba(255, 255, 125, 1);
    color: rgba(0, 0, 0, 1);
}
.botoes_pag6{
    display: flex;
    flex-direction: column;
}
#btn{
    position: relative;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    text-decoration: none;
    background-color:#3EB25E;
    color:rgba(255, 255, 255, 1);
    width: 418px;
    height: 35px;
    border-radius: 35px;
    padding-top: 5px;
    margin-top: 20px;
    font-weight: bold;
    transition: .5s;
    border:none;
}
#btn:hover{
    background-color: rgba(255, 255, 125, 1);
    color: rgba(0, 0, 0, 1);
}

@media (max-width: 1200px){
    .container{
        flex-direction: column;
        width: 480px;
        height: 760px;
    }
    .le,.ld{
        position: relative;
        height: 50%;
        width: 100%;
    }
    .le img{
        height: 352.95px;
        width: 374.34px;
        margin-left: 65px;
        margin-top: 47px;
    }
    form{
        margin-top: 30px;
        margin-left: 90px;
        font-size: 18px;
    }
    .inC,.inCage{
        font-size: 18px;
    }
    .inC{
        height: 33px;
        width: 278px;
        margin-left: 0px;
        margin-top: 0px;
        border-radius: 20px;
    }
    .inCage{
        height: 36px;
        width: 111px;
    }
    form label{
        line-height: 30px;
    }
    #btn, .btns{
        font-size: 16px;
        height: 26px;
        width: 300px;
    }
    .btns{
        height: 30px;
        padding-top:0px;
    }
}